*/__pycache__/
open_issue_embeddings/
secret_env.txt
__pycache__/
myenv/
trial2.py
*.txt
BERT_TOPIC_CLUSTER.py
safer_cluster.py
similarity_email.py
similarity_github.py
trial3.py
.env
.work-folder-info
local_transformer/
topic_split/
issues_folder/
topic_split_df/
irrelevant_split/
topic_info.xlsx